.App {
  text-align: center;
}

.MuiBox-root {
  display: contents
}
.Paragraph{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Paragraph p{
  font-size: 50px ;
  font-weight: bold;
}

html{
  background-color: rgb(177, 177, 177);
  font-weight: bold;
}