.App {
  text-align: center;
}
.productsContainer{
  display: flex;
  justify-content: center;
  
}
.MuiBox-root {
  display: contents
}
.Paragraph{
  display: flex;
  justify-content: center;
  align-items: center;
}


html{
  background-color: rgb(177, 177, 177);
  font-weight: bold;
}


